

<div class="homeform-section">
    <form method="POST">
        <div class="container">
            <div class="row fields-row">
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="Whome to Insure?">
                </div>
                <div class="col-sm-3">
                    <ng-select [items]="healthAge" placeholder="Age">{{Years}}</ng-select>
                </div>
                <div class="col-sm-3">
                    <ng-select [items]="eldestGender" placeholder="Gender"></ng-select>
                </div>
            </div>
            <div class="row fields-row">
                <div class="col-sm-6">
                    <div class="input-effect">
                        <input class="effect" placeholder="Email" type="text">
                        <label>Email</label>
                        <span class="focus-border"></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="input-effect">
                        <input class="effect" placeholder="Pincode" type="text">
                        <label>Pincode</label>
                        <span class="focus-border"></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="input-effect">
                        <input class="effect" placeholder="Mobile" type="text">
                        <label>Mobile</label>
                        <span class="focus-border"></span>
                    </div>
                </div>
            </div>

        </div>

        <button type="submit" class="continue-btn">Continue</button>
    </form>
    </div>


    <app-home-content></app-home-content>