<div class="container section-container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h2><span>India's Best Insurance</span> Comparison Website</h2>
            <p>Providing right insurance cover by providing unbiased quotes and product comparison. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <img src="./assets/images/insurance-comparison.svg" class="comparison" alt="Insurance Comparison">
        </div>
        
    </div>
</div>

<div class="container-fluid graybg">
    <div class="container section-container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Why <span>Quickbima.com</span></h2>
                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
            </div>
            <div class="col-sm-12">
                <div class="timeline">
                    <div class="content brdr-right">
                        <h4>Insurance Quotes from Multiple Insurers</h4>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium quos voluptatum deleniti atque corrupti quos dolores et quas molestias.</p>
                    </div>
                    <div class="content-img arrow-right">
                        <span class="multiple-insurers"></span>
                    </div>
                </div>
                <div class="timeline">
                    <div class="content-img brdr-right img-right arrow-left">
                        <span class="expert-advice"></span>
                    </div>
                    <div class="content">
                        <h4>Unbaised Expert Advice / Information</h4>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium quos voluptatum deleniti atque corrupti quos dolores et quas molestias.</p>
                    </div>
                </div>
                <div class="timeline">
                    <div class="content brdr-right">
                        <h4>Application Assistance</h4>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium quos voluptatum deleniti atque corrupti quos dolores et quas molestias.</p>
                    </div>
                    <div class="content-img arrow-right">
                        <span class="app-assistance"></span>
                    </div>
                </div>
                <div class="timeline">
                    <div class="content-img brdr-right img-right arrow-left">
                        <span class="issuance-help"></span>
                    </div>
                    <div class="content">
                        <h4>Issuance Support</h4>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium quos voluptatum deleniti atque corrupti quos dolores et quas molestias.</p>
                    </div>
                </div>
                <div class="timeline">
                    <div class="content brdr-right">
                        <h4>Claim Assistance</h4>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium quos voluptatum deleniti atque corrupti quos dolores et quas molestias.</p>
                    </div>
                    <div class="content-img arrow-right">
                        <span class="claim-asst"></span>
                    </div>
                </div>
                <div class="timeline">
                    <div class="content-img brdr-right img-right arrow-left">
                        <span class="policy-vault"></span>
                    </div>
                    <div class="content">
                        <h4>Policy Vault - All your policies in one place</h4>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium quos voluptatum deleniti atque corrupti quos dolores et quas molestias.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
