<div class="homeform-section">
    <form [formGroup]="carForm" (ngSubmit)="onSubmit()">
        <div class="container">
            <div class="row">
                <div class="rg-field-row">
                    <input type="text" class="text-uppercase" placeholder="DL 01 AB 1234">
                </div>
                <div class="fields-row sr-only">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2"></div>
                </div>
                
            </div>
            <div class="row fields-row">
                <div class="col-sm-4">
                    <ng-select [items]="carMakeModel" placeholder="Make and Model"></ng-select>
                </div>
                <div class="col-sm-2">
                    <ng-select [items]="fuelType" placeholder="Fuel Type"></ng-select>
                </div>
                <div class="col-sm-4">
                    <ng-select [items]="carVariant" placeholder="Variant"></ng-select>
                </div>
                <div class="col-sm-2">
                    <div class="input-effect">
                        <input [attr.value]="tx_date | date: 'yyyy-MM-dd'" [min]="min" [max]="max" class="effect form-control" [owlDateTimeTrigger]="dt" [owlDateTime]="dt">
                        <owl-date-time [pickerType]="'calendar'" #dt></owl-date-time>
                        <label>Registration Date</label>
                    </div>
                </div>
            </div>
            <button class="btn continue-btn">Continue</button>
        </div>
    </form>
</div>
<app-home-content></app-home-content>