<div class="header-top">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2>Insurance Kharidna, <span class="text-uppercase">Ab Bachhon ka khel</span></h2>
        <p>Quickest, Easiest and Cheapest Way to Buy Insurance from 36 Different Insurers</p>
        <ul class="products-links">
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Car</a></li>
          <li routerLinkActive="active"><a routerLink="/healthinsurance">Health</a></li>
          <li routerLinkActive="active"><a routerLink="/twowhellerinsurance">Bike</a></li>
          <li routerLinkActive="active"><a routerLink="/terminsurance">Term</a></li>
          <li routerLinkActive="active"><a routerLink="/travelinsurance">Travel</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
