/* You can add global styles to this file, and also import other style files */
$fa-font-path : '../node_modules/font-awesome/fonts';
@import '../node_modules/font-awesome/scss/font-awesome';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import 'assets/sass/mixins';
@import 'assets/sass/variables';

html, body {
    height: 100%;
    margin: 0;
    padding-top: 30px;
    font-family: 'LatoWeblight' !important;
}

h1 {
    display: none;
}
h2, h3, h4, h5 {
    font-weight: normal;
}

.navbar {
    background: $theme;
    .container {
        max-width: 1400px;
    }
    .navbar-brand img {
        height: 38px;
    }
    .navbar-nav .nav-item {
        margin-top: -5px;
        a {
            color: #fff;
            font-family: 'LatoWeblight';
            .fa {
                color: $logo-red;
                margin-right: 4px;
            }
        }
        p {
            color: #fff;
            margin: 7px 10px 0px;
            font-size: 18px;
            font-family:'LatoWebRegular';
            .fa {
                color: $logo-blue;
            }
        }
    }
}

.homeform-section {
    background: $theme url("assets/images/boy.svg") no-repeat 98% bottom/350px;
    @include padding(10px, null, 20px, null);
    min-height: 450px;
    position: relative;
    .form-control {
        border: none;
        height: 50px;
        font-family: 'LatoWebRegular';
        @include border-radius(5px);
    }
    select {
        @extend .form-control;
        -moz-appearance: none;
        -moz-appearance: none;
        appearance: none;
        height: calc(2.25rem + 14px);
        width: 100%;
    }
    .input-effect {
        position: relative;
        height:50px;
          .effect {
            border:none;
            @include padding(10px, 7px, 7px, 7px);
            border:none;
            background-color: transparent;
            width: 100%;
            height:50px;
            color: $theme;
            font-size:16px;
            font-family: 'LatoWebRegular';
            @include border-radius(3px 0px 0px 3px);
            @include position (absolute, $left:0px, $top:0px);
            z-index: 9;
            ~ label {
              position: absolute;
              left: 10px;
              width: 100%;
              top:-22px;
              font-size:13px;
              color: $theme;
              -webkit-transition: top 0.2s linear 0.2s;
              -moz-transition: top 0.2s linear 0.2s;
              -o-transition: top 0.2s linear 0.2s;
              transition: top 0.2s linear 0.2s;
            }
          }
          .has-content {
            @include padding(24px, 0px, 5px, 10px);
            font-family: 'LatoWebRegular';
          }
          .has-content.effect ~ label {
            top:4px;
            left: 10px;
            font-size:13px;
            font-weight: normal;
            color: $theme;
            -webkit-transition: top 0.2s linear 0.2s;
              -moz-transition: top 0.2s linear 0.2s;
              -o-transition: top 0.2s linear 0.2s;
              transition: top 0.2s linear 0.2s;
            z-index: 999;
          }
      }
      
    .fields-row {
        background: #fff;
        @include border-radius(4px);
        @include box-shadow(0px 3px 6px rgba(0,0,0,0.25));
        min-height: 50px;
        max-width: 670px;
        width: 100%;
        margin: 20px auto;
        [class*="col-"] {
            padding: 0px;;
        }
    }
    .rg-field-row {
        @extend .fields-row;
        max-width: 240px;
        input {
            @include border-radius(4px);
            background:url("assets/images/ind.svg") no-repeat 0px 0px/32px;
            border: none;
            padding-top: 4px;
            padding-left: 32px;
            text-align: center;
            font-size: 22px;
            font-family:'LatoWebRegular';
            height: 50px;
            width: 100%;
        }
    }
    .continue-btn {
        background:lighten($logo-red, 6%);
        border: 1px solid $logo-red;
        color: #fff;
        text-align: center;
        display: inline-block;
        @include border-radius(4px);
        @include box-shadow(0px 3px 6px rgba(0,0,0,0.2));
        position: absolute;
        bottom: 150px;
        left: calc(50% - 85px);
        padding: 9px;
        width: 170px;
        &:focus, &:active {
            background: darken($logo-red, 8%);
        }
    }
}

.main-footer {
    background:$theme;
    padding-top: 30px;
    min-height: 200px;
    .container {
        max-width: 1400px;
    }
    .disclaimer {
        font-size: 9px;
        color: #949fa9;
    }
    .copright p {
        color: #fff;
        font-size: 13px;
        font-family: 'Comfortaa';
        border-top: 1px solid darken($theme, 4%);
        margin-top: 15px;
        padding-top: 12px;
        padding-bottom: 5px;
        a {
            color: #fff;
        }
    }
    .top-part {
        border-bottom: 1px solid darken($theme, 4%);
        padding-bottom: 15px;
        margin-bottom: 30px;
        [class*="col-"]{
            min-height: 106px;
        }
        h5 {
            color: #fff;
            text-transform: uppercase;
            margin-bottom: 20px;
            font-size: 12px;
            font-family: 'Comfortaa';
            font-weight: 400;
        }
        p {
            font-size: 10px;
            margin-top: 6px;
            color: #949fa9;
            float: left;
        }
        a {
            color: #fff;
            font-size: 20px;
            margin-right: 10px;
            padding: 5px;
            &:hover {
                color: $logo-blue;
            }
        }
        .irdai {
            background: url("assets/images/irda-logo.svg") no-repeat 0px 0px/35px;
            display: block;
            height: 60px;
            width: 60px;
            float: left;
        }
        .security {
            background: url("assets/images/home-icons.svg") no-repeat 0px -106px/220px;
            display: block;
            height: 50px;
            width: 190px;
        }
        .payment {
            background: url("assets/images/home-icons.svg") no-repeat 0px -50px/220px;
            display: block;
            height: 50px;
            width: 200px;
            min-height: 50px;
            padding: 0px;
        }
    }
    .sitelinks {
        border-bottom: 1px solid darken($theme, 4%);
        padding-bottom: 20px;
        margin-bottom: 30px;
        ul {
            margin: 0px;
            padding: 0px;
            float: left;
            width: 25%;
            li {
                color: #fff;
                font-size: 13px;
                font-family: 'Comfortaa';
                font-weight: 400;
                margin-top: 5px;
                a {
                    color: #949fa9;
                    display: inline-block;
                    padding: 5px 0px;
                    font-size: 11px;
                    font-family: 'robotolight';
                    &:hover {
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
        }
    }
    .subscribe {
        background: url("assets/images/subscribe.svg") no-repeat right 6px/167px;
        position: relative;
        padding-top: 106px;
        width: 100%;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        h4 {
            position: absolute;
            top: 55px;
            left:0px;
            color:#949fa9; 
            font-size: 16px;
        }
        input {
            background: transparent;
            border-bottom: 1px solid #212b34;
            border-top: none;
            border-left: none;
            border-right: none;
            color: #949fa9;
            @include border-radius(0px);
            font-size: 14px;
            font-family: 'robotolight';
            height: 30px;
            width: calc(100% - 65px);
        }
        .btn {
            background: lighten($logo-red, 6%);
            border: none;
            @include border-radius(4px);
            color: #fff;
            font-size: 14px;
            font-weight: 300;
            font-family: 'Comfortaa';
            padding: 6px 30px 5px;
            margin-top: 10px;
            margin-left: 65px;
            display: block;
        }
    }
}
