/* You can add global styles to this file, and also import other style files */
$fa-font-path : '../node_modules/font-awesome/fonts';
@import '../node_modules/font-awesome/scss/font-awesome';
@import "~@ng-select/ng-select/themes/material.theme.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import 'assets/sass/mixins';
@import 'assets/sass/variables';

html, body {
    height: 100%;
    margin: 0;
    padding-top: 30px;
    font-family: 'LatoWeblight'!important;
}

h1 {
    display: none;
}
h2, h3, h4, h5 {
    font-weight: normal;
}

.form-control.is-invalid:focus, .form-control:focus {
    border-color: transparent;
    @include box-shadow(0px 0px 0px 0px rgba(0,0,0,0)!important);
}

.navbar {
    background: $theme;
    .container {
        max-width: 1400px;
    }
    .navbar-brand img {
        height: 38px;
    }
    .navbar-nav .nav-item {
        margin-top: -5px;
        a {
            color: #fff;
            font-family: 'LatoWeblight';
            .fa {
                color: $logo-red;
                margin-right: 4px;
            }
        }
        p {
            color: #fff;
            margin: 7px 10px 0px;
            font-size: 18px;
            font-family:'LatoWebRegular';
            .fa {
                color: $logo-blue;
            }
        }
    }
}

.homeform-section {
    background: $theme url("assets/images/boy.svg") no-repeat 98% bottom/350px;
    @include padding(10px, null, 20px, null);
    min-height: 450px;
    position: relative;
    .form-control {
        border: none;
        height: 55px;
        font-family: 'LatoWebLight';
        font-weight: 500;
        @include border-radius(5px);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .ng-select {
        padding-bottom: 0;
        .ng-arrow-wrapper {
            display: none;
        }
        .ng-clear-wrapper {
            top: -10px;
            width: 25px;
            padding-left: 6px;
        }
        &.ng-select-focused .ng-placeholder, &.ng-select-opened .ng-placeholder, .ng-has-value .ng-placeholder {
            -webkit-transform: translateY(-0.6em) scale(0.75) perspective(100px) translateZ(0.001px) !important;
            transform: translateY(-0.6em) scale(0.75) perspective(100px) translateZ(0.001px) !important;
          }
        &.ng-select-single .ng-select-container {
            @extend .form-control;
            -moz-appearance: none;
            -moz-appearance: none;
            appearance: none;
            padding-left: 6px;
            height: calc(2.25rem + 14px);
            width: 100%;
            &:after {
                border: none;
            }
            &.ng-has-value {
                .ng-value {
                    margin-top: 10px;
                    font-family:'LatoWebRegular';
                    font-size: 15px;
                }
            }
            .ng-value-container {
                padding: 2px 0px;
                height: 50px;
                .ng-placeholder {
                    font-size: 15px;
                }
                .ng-input {
                    top: 22px;
                    padding-left: 6px;
                }
            }
        }
        .ng-dropdown-panel {
            &.ng-select-bottom {
              top: 100%;
            }
            .ng-dropdown-panel-items .ng-option {
              line-height: 2.4em;
              min-height: 2.4em;
              font-size: 14px;
              padding: 0 6px;
            }
          }
    }
    .input-effect {
        position: relative;
        height:55px;
          .effect {
            border:none;
            @include padding(10px, 5px, 5px, 6px);
            background-color: transparent;
            width: 100%;
            height: 55px;
            font-size:15px;
            @include border-radius(5px);
            @include position (absolute, $left:0px, $top:0px);
            z-index: 8;
            ~ label {
              position: absolute;
              left: 6px;
              width: 100%;
              top:16px;
              font-size:15px;
              color: lighten($theme, 40%);
              transition: 0.3s;
              margin: 0px;
            }
            &:focus {
                padding-top: 23px;
                font-family:'LatoWebRegular';
                ~ label {
                    top: 7px;
                    font-size:11px;
                    color:$blue-color;
                    transition: 0.3s;
                    z-index: 99;
                }
            }
          }
          .has-content.effect {
            padding-top: 23px;
            font-family:'LatoWebRegular';
            ~ label {
                top: 7px;
                font-size:11px;
                color: #777;
                transition: 0.3s;
              }
          }
          .invalid-feedback {
              position: absolute;
              bottom: 0px;
              right: 5px;
              text-align: right;
              font-size: 11px;
              font-family:'LatoWebRegular';
          }
      }
       
    .fields-row {
        background: #fff;
        @include border-radius(4px);
        @include box-shadow(0px 3px 6px rgba(0,0,0,0.25));
        min-height: 50px;
        max-width: 700px;
        width: 100%;
        margin: 20px auto;
        [class*="col-"] {
            padding: 0px;
            border-right: 1px solid $theme;
            &:last-child {
                border: none;
            }
        }
    }
    .rg-field-row {
        @extend .fields-row;
        max-width: 240px;
        input {
            @include border-radius(4px);
            background:url("assets/images/ind.svg") no-repeat 0px -1px/33px;
            border: none;
            padding-top: 4px;
            padding-left: 32px;
            text-align: center;
            font-size: 22px;
            font-family:'LatoWebMedium';
            height: 50px;
            width: 100%;
        }
    }
    .continue-btn {
        background:lighten($logo-red, 6%);
        border: 1px solid $logo-red;
        color: #fff;
        text-align: center;
        display: inline-block;
        @include border-radius(4px);
        @include box-shadow(0px 3px 6px rgba(0,0,0,0.2));
        position: absolute;
        bottom: 150px;
        left: calc(50% - 85px);
        padding: 9px;
        width: 170px;
        &:focus, &:active {
            background: darken($logo-red, 8%);
        }
    }
}

.main-footer {
    background:$theme;
    padding-top: 30px;
    min-height: 200px;
    .container {
        max-width: 1400px;
    }
    .disclaimer {
        font-size: 9px;
        color: #949fa9;
    }
    .copright p {
        color: #fff;
        font-size: 13px;
        font-family: 'Comfortaa';
        border-top: 1px solid darken($theme, 4%);
        margin-top: 10px;
        padding-top: 18px;
        a {
            color: #fff;
        }
    }
    .top-part {
        border-bottom: 1px solid darken($theme, 4%);
        padding-bottom: 15px;
        margin-bottom: 30px;
        [class*="col-"]{
            min-height: 106px;
        }
        h5 {
            color: #fff;
            text-transform: uppercase;
            margin-bottom: 20px;
            font-size: 12px;
            font-family: 'Comfortaa';
            font-weight: 400;
        }
        p {
            font-size: 10px;
            margin-top: 6px;
            color: #949fa9;
            float: left;
        }
        a {
            color: #fff;
            font-size: 20px;
            margin-right: 10px;
            padding: 5px;
            &:hover {
                color: $logo-blue;
            }
        }
        .irdai {
            background: url("assets/images/irda-logo.svg") no-repeat 0px 0px/35px;
            display: block;
            height: 60px;
            width: 60px;
            float: left;
        }
        .security {
            background: url("assets/images/home-icons.svg") no-repeat 0px -106px/220px;
            display: block;
            height: 50px;
            width: 190px;
        }
        .payment {
            background: url("assets/images/home-icons.svg") no-repeat 0px -50px/220px;
            display: block;
            height: 50px;
            width: 200px;
            min-height: 50px;
            padding: 0px;
        }
    }
    .sitelinks {
        border-bottom: 1px solid darken($theme, 4%);
        padding-bottom: 20px;
        margin-bottom: 30px;
        ul {
            margin: 0px;
            padding: 0px;
            float: left;
            width: 25%;
            li {
                color: #fff;
                font-size: 13px;
                font-family: 'Comfortaa';
                font-weight: 400;
                margin-top: 5px;
                a {
                    color: #949fa9;
                    display: inline-block;
                    padding: 5px 0px;
                    font-size: 11px;
                    font-family: 'robotolight';
                    &:hover {
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
        }
    }
    .subscribe {
        background: url("assets/images/subscribe.svg") no-repeat right 6px/167px;
        position: relative;
        padding-top: 106px;
        width: 100%;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        h4 {
            position: absolute;
            top: 55px;
            left:0px;
            color:#949fa9; 
            font-size: 16px;
        }
        input {
            background: transparent;
            border-bottom: 1px solid #212b34;
            border-top: none;
            border-left: none;
            border-right: none;
            color: #949fa9;
            @include border-radius(0px);
            font-size: 14px;
            font-family: 'robotolight';
            height: 30px;
            width: calc(100% - 65px);
        }
        .btn {
            background: lighten($logo-red, 6%);
            border: none;
            @include border-radius(4px);
            color: #fff;
            font-size: 14px;
            font-weight: 300;
            font-family: 'Comfortaa';
            padding: 6px 30px 5px;
            margin-top: 10px;
            margin-left: 65px;
            display: block;
        }
    }
}
