<div class="container-fluid main-footer">
    <div class="container">
        <div class="row top-part">
            <div class="col-sm-6 col-md-4">
                <h5>Licensed</h5>
                <span class="irdai"></span>
                <p>Mangotree Insurance Web Aggregators Pvt. Ltd.<br>
                 Website Approved by IRDAI (Govt. of India)<br>
                 Registration no. IRDAI / WB35 / 2016</p>
            </div>
            <div class="col-sm-6 col-md-3">
                <h5>Security</h5>
                <span class="security"></span>
            </div>
            <div class="col-sm-6 col-md-3">
                <h5>Payment Options</h5>
                <span class="payment"></span>
            </div>
            <div class="col-sm-6 col-md-2">
                <h5>We are social</h5>
                <a href="https://www.facebook.com/quickbima" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                <a href="https://twitter.com/quickbima" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/company/quickbima-com" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="https://plus.google.com/+Quickbima" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="row sitelinks">
            <div class="col-sm-8">
                <ul>
                    <li>Company</li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Careers@Quickbima</a></li>
                    <li><a href="">Our Partners</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
                <ul>
                    <li>Quick Access</li>
                    <li><a href="">Articles</a></li>
                    <li><a href="">Claims</a></li>
                    <li><a href="">Complaints</a></li>
                    <li><a href="">Site Map</a></li>
                </ul>
                <ul>
                    <li>Links</li>
                    <li><a href="">T&amp;C's</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Disclaimer</a></li>
                    <li><a href="">FAQ's</a></li>
                </ul>
                <ul>
                    <li>Insurance</li>
                    <li><a href="">Health Insurance</a></li>
                    <li><a href="">Car Insurance</a></li>
                    <li><a href="">Two Wheeler Insurance</a></li>
                    <li><a href="">Term Insurance</a></li>
                    <li><a href="">Travel Insurance</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <div class="subscribe">
                    <h4>Subscribe to Our Newsletter</h4>
                    <input type="text" placeholder="Your email address">
                    <span class="error"></span>
                    <button type="submit" class="btn ">Subscribe</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p class="disclaimer">DISCLAIMER:  All the images used on Quickbima.com have either been purchased or are used with permission of the copyright holder. Images from Quickbima.com may not be copied or used elsewhere without obtaining appropriate permissions from the copyright holders. All Rights reserved.</p>
                <p class="disclaimer">Insurance is the subject matter of Solicitation. Quickbima.com, India's IRDA approved web aggregator portal. We at Quickbima provide an unbiased and comprehensive online insurance comparison platform to our clients. Quickbima.com provides FREE quotes and insurance plans from the best companies at cost-effective rates. Quickbima.com helps you choose best plans for all major segments of Insurance viz. Health Insurance, Life Insurance, Car Insurance, Travel Insurance, Pension and Annuities or even specific type of Insurance like Rural or Micro Insurance. Clutter free design and innovative format is especially designed for best user experience at Quickbima.com. All product information displayed on this website is solely provided by the respective insurance company.  Kindly note that Quickbima.com can share the particulars of clients/visitors with the insurers/insurance brokers.</p>
            </div>
            <div class="col-sm-12 text-center copright">
                <p>Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2018 Quickbima.com. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>
